<div class="comment-cont">
  <div class="about-comment">
  <p><%= link_to comment.user.username, comment.user, class:"author" %></p>  </div>
  <div class="comment-body">
    <p><%= comment.body %></p>
  </div>
</div>