<%= form_for([@post, @comment ], remote: true) do |f| %>
    <%= render "shared/error_messages", object: @comment %>
    <div class="comment-form">
      <%= f.text_area :body, class: 'form-control', placeholder: "Enter a comment here!" %>
      <%= f.submit "Comment", class: 'btn-white' %>
    </div>
  <% end %>