<div id="share">
<h2>Share</h2>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://metadigest.uzpg.me&amp;src=sdkpreparse" class="fab fa-facebook" rel="noopener"></a>
    <a  href="https://twitter.com/share?ref_src=twsrc%5Etfw&amp;text=Devolio" target="_blank" rel="noopener" class="fab fa-twitter"></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://devol.io" target="_blank" rel="noopener" class="fab fa-linkedin"></a>
    <a target="_blank" href="http://www.tumblr.com/share/link?url=https://devol.io&amp;title=Devolio" class="fab fa-tumblr" rel="noopener"></a>
</div>