<% @user ||= current_user %>
<% if @user %>
  <div class="stats">
    <a href="<%= following_user_path(@user.id) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %> following
      </strong>
    </a>
      <strong id="followers" class="stat">
        <%= pluralize(@user.followers.count, "followers" %>
      </strong>
    </a>
  </div>
<% end %>