<% if @project.logo.attached? %>
  <%= image_tag @project.logo, alt: "project-logo", width: "100", height: "100", class: "project-logo" %>
<% else %>
  <div class="project-identicon">
    <% identicon = @project.new_record? ? "#{@project.user.username}-project-#{@project.user.projects.count}" : "#{@project.user.username}-project-#{@project.user.projects.index(@project)}" %>
    <svg data-jdenticon-value="<%= identicon %>" width="100" height="100" class="project-logo"></svg>
  </div>
<% end %>
