<%= provide(:title, "Projects") %>
<a href="/projects/new" class="btn-red" style="margin: 10px 110px; display: inline-block; font-size: 20px;">Add yours!</a>
<%= render @projects %>
<%= paginate @projects %>