
body {
    margin: 0;
    padding: 0;
}
.content {
    width: 90%;
    margin: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
ul {
    list-style: none;
}
p {
    font-family: "Open Sans", sans-serif;
}
h1, h2 {
    font-family: 'Lilita One', sans-serif;
    font-weight: 5;
}
nav {
    width: 95%;
 /*   .logo { margin-bottom: -18px;}*/
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: auto;
    color: #5a3d5c;
    padding-bottom: 50px;
    li {
        display: inline-block;
        color: black !important
    }
    .right {
        margin-top: 4px;
        padding: 8px;
    }
    .links { 
        &:visited { color: inherit !important}
    }
}
.signup-btn {
    background-color: #464159;
    color: white !important;
    &:visited {
        color:white;
    }
}
#home-cont > * {
    width: 50%;
}
#home-cont {
    display: flex;
    width: 100%;
    margin: 100px auto;
    justify-content: space-around;
    flex-wrap: wrap; 
    .description {
        width: 80%;
    }

}
a {
    text-decoration: none;
}

.cta {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    width: 230px;
    border: none;
    font-size: 18px;
    padding: 4px;
}
/*
.features {
    width: 100%;
    background: linear-gradient(to right, #2d3561,#525252, #ac8daf);
    height: 400px;
}
*/
.features {
    width: 80%;
    margin: auto;
    figure {
        display: flex;
        padding: 50px 0px;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 300px;
        }
        figcaption {
            width: 400px;
        }
    }
}

.hidden { display: none }
.beta {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    transition: border-color 2s;
    border-style: solid;
    padding: 5px;
    &:focus, &:hover {
        border-color:#400082;
    }

}


.comments {
    margin: auto;
    width: 60%;
}
.utterances {
    margin: 0px;
}


#contact-section {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

}

#flex-fields {
    display: flex;
    align-items: center
}
#contact {
    text-align: left;
    width: 60%;
    input, textarea {
        border: 1px solid #e0e0e0;
        font-size: 18px;
        padding: 5px;
        border-radius: 4px;
        transition: border-color 1s;
    }
}
#share {
    width: 40%;
    text-align: right;

}

.fa {
    font-size: 30px;
    padding: 15px;
    width: 30px;
    color: #464159;
    text-decoration: none;
    transition: color 1s;
}
.fa:hover {
    color: #F34573
}
#contact_message {
    height: 84px;
}
footer {
    background: rgb(245, 248, 251);
    padding: 10px 0px 10px 0px
}
#contact input[type=submit] {
    background: #24232d;
    color: white;
    padding: 6px 7px 6px 7px;
}
#contact input {
    font-size: 21px;
    margin: 5px;
    padding: 5px;
}   
#contact input::placeholder {
    color: #63707e;
}

/*flash messages */
#error_explanation {
    display: block;
    padding: 15px;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
	border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert {
    display: block;
    padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
    margin:auto;
    width: 90%;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}
.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

/* ipad */
@media screen and (max-width: 850px) {
    #home-cont > * {
        width: 100%;
        margin: auto;
    }
    #home-cont {
        flex-direction: column;
        .description { width: 100%}
    }
    #flex-fields {
        flex-wrap: wrap;
        justify-content: center;
    }
    #flex-field-1 input {
        width: 228px;
    }
    #contact-section {
        flex-direction: column;
    }
    #contact, #share {
        text-align: center;
        width: 100%;
    }
}



/* mobile */
@media screen and (max-width: 500px) {

    .features {
        width: 100%;
        figure {
            flex-direction: column; 
            padding: 30px 0px;
            width: 100%;
            margin: auto;
            img { width: 250px; margin: auto }
            figcaption {
                width: 100%;
            }
        }
    }
    .hidden {
        display: block;
        text-align: center;
    }
    nav { margin: 0px; }
    #new_user_zero {
        text-align: center;
        padding: 40px 0px;
    }
    .comments {
        width: 100%;
    }

    .preview {
        width: 95%;
        margin: auto;
    }
}
