
body {
    margin: 0;
    padding: 0;
}
.content {
    width: 90%;
    margin: 30px auto;
}
.left {
    float: left;
}
.right {
    float: right;
}

p {
    font-family: "Open Sans", sans-serif;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 5;
}

nav {
    width: 95%;
 /*   .logo { margin-bottom: -18px;}*/

    margin: auto;
    padding-bottom: 30px;
    * {
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }
    li {
        display: inline-block;
        color: black !important;
    }
    .right {
        margin-top: 4px;
        padding: 8px;
    }
    input[type="submit"] {
        border: none;
        background: none;
        color: black;
        font-size: 18px;
    }
    .links { 
        &:visited { color: inherit !important}
    }
}
.signup-btn {
    background-color: #464159;
    color: white !important;
    &:visited {
        color:white;
    }
}
h3 {
    font-family: "Open Sans", sans-serif;
}
#home-cont > * {
    width: 50%;
}
#home-cont {
    display: flex;
    width: 100%;
    margin: 100px auto;
    justify-content: space-around;
    flex-wrap: wrap; 
    .description {
        width: 80%;
    }

}
a {
    text-decoration: none;
}

.cta {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    width: 230px;
    border: none;
    font-size: 21.25px;
    padding: 7px;
}
/*
.features {
    width: 100%;
    background: linear-gradient(to right, #2d3561,#525252, #ac8daf);
    height: 400px;
}
*/
.features {
    width: 80%;
    margin: auto;
    figure {
        display: flex;
        padding: 50px 0px;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 300px;
        }
        figcaption {
            width: 400px;
        }
    }
}

.hidden { display: none }
.beta {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    transition: border-color 2s;
    border-style: solid;
    padding: 5px;
    &:focus, &:hover {
        border-color:#400082;
    }

}


.comments {
    margin: auto;
    width: 60%;
}
.utterances {
    margin: 0px;
}


#contact-section {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

}

#flex-fields {
    display: flex;
    align-items: center
}
#contact {
    text-align: left;
    width: 60%;
    input, textarea {
        border: 1px solid #e0e0e0;
        font-size: 18px;
        padding: 5px;
        border-radius: 4px;
        transition: border-color 1s;
    }
}
#share {
    width: 40%;
    text-align: right;
    .fab {
        font-size: 30px;
        padding: 15px;
        width: 30px;
        color: #464159;
        text-decoration: none;
        transition: color 1s;
    }
    .fab:hover {
        color: #F34573
    }
}
.fa-github, .fa-edit {
    font-size: 30px;
    color: #c9485b;
}
#contact_message {
    height: 84px;
}
footer {
    background: rgb(245, 248, 251);
    padding: 10px 0px 10px 0px
}
#contact input[type=submit] {
    background: #24232d;
    color: white;
    padding: 6px 7px 6px 7px;
}
#contact input {
    font-size: 21px;
    margin: 5px;
    padding: 5px;
}   
input::placeholder {
    color: #63707e;
}

/*flash messages */
#error_explanation {
    display: block;
    padding: 15px;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
	border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert {
    display: block;
    padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
    margin:auto;
    width: 90%;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}
.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}


.user_info {
    margin: auto;
    width: 60%;
    padding: 20px 0px;
    text-align: center;
    input {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        transition: border-color 2s;
        border-style: solid;
        padding: 5px;
        margin: 8px;
        &:focus:not([type="submit"]), &:hover:not([type="submit"]) {
            border-color:#464159;
        }
    }
}
.contact-line {
	width: 60px;
	height: 4px;
	margin: 5px auto;
	background: #6807f9;
}

.btn-white {
    background: #ffffff;
    color: #6c7b95;
    padding: 5px 8px;
    font-family: "Raleway", sans-serif;
}
.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid gray;
      color: gray;
      font-family: "Open Sans", sans-serif;
      &:hover {
        text-decoration: underline;
      }
    }
    strong {
      display: block;
    }
  }

.user-cont {
    display: flex;

}
.about-user {
    background-color: #202020;
    color: white;
    width: 300px;;
    padding: 30px;
    height: 400px;
    .fab { color: white; font-size: 25px;}
}


.posts {
    padding: 0;
    margin: 40px;
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
    }
    li {
      margin: 40px auto;
     /* border-top: 1px solid #e8e8e8;*/
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    img {
        margin: auto;
    }
    p {
        margin: 0px;
    }
    .post-content {
      display: block;
      max-width: 90%;
      background: #282a36;
      color: white;
      padding: 20px;
      transition: all 2s;
      & > * {
        max-width: 500px;
      }  
      &:hover {
        box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

    }
    .timestamp {
      color: gray;
      display: block;
    }
    h2 a {
        color: #c9485b; 
    }
  }
.like-btn {
    border: none;
    width: 24px;
    height: 22px;
    display: block;
    margin: 20px 0px;
}
.like-btn-blank {
    background: image_url("like.svg");
}
.like-btn-fill {
    background: image_url("like-2.svg");
}
blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
}
li {
    font-family: "Open Sans", sans-serif;
}
.project {
    background: #282a36;
    width: 80%;
    padding: 100px;
    margin: auto;
    color: white;
    .project-btns {
        display: flex;
        align-items: center;
        * {
            margin: 0px 4px
        }
    }
    .project-text {
        width: 70%;
    }
    .project-info {
        display: flex;
        padding: 50px;
        justify-content: space-between;
        width: 50%;
        p {
            display: block;
        }
    }

    .project-mast {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .project-identicon {
        background: white;
        transition: box-shadow 2s;
        padding: 5px;
        height: 100px; 
    }

    .project-form {
        width: 90%;
        margin: auto;
        input:not(.btn-red), textarea {
            display: block;
            width: 80%;
            background: #434e52;
            padding: 20px;
            color: #f4f4f4;
            font-family: "Open Sans";
            border: none;
        }
        input[type="submit"] {
            font-size: 20px;
        }
        h3 {
            color: #c9485b;
        }
    }
}
.btn-red {
    background: #333333;
    color: #c9485b;
    padding: 5px 8px;
    border: none;
    font-family: "Raleway", sans-serif;
}
.white-link {
    color: white;
    &:hover {
        text-decoration: underline;
    }
}
.post {
    background: #282a36;
    color: white;
    padding: 30px;
    width: 70%;
    a {
        color: #c9485b;
    }
    .author {
        text-decoration: none;
        font-family: "Open Sans"
    }
    .edit_post, .new_post {
        #post_title {
            font-size: 25px;
            color: white;
            font-family: "Raleway", sans-serif;
            margin: 5px;
        }
        input[type='submit'] {
            width: initial;
            font-size: 23px;
        }
        #post_title, textarea {
            width: 90%;
            border: none;
            background: inherit;
            margin: 10px;
            padding: 5px;
        }
        textarea {
            min-height: 200px;
            color: #9be3de;
        }
    }
}

.post-comments {
    width: 75%;
    .about-comment, .comment-body {
        padding: 10px 16px;
        color: #586069;
        border: 1px solid #d1d5da;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        p {
            margin: 0;
        }
    }

    .comment-form {
        margin: auto;
        display: block;
        background: rgba(14,36,57, 0.8);
        border: none;
        height: 170px;
        padding: 20px;

        #comment_body {
            background: none;
            border: none;
            display: block;
            width: 90%;
            font-size: 18px;
            color: white;
            height: 75%;
            font-family: "Open Sans";

        }
    }

    .comment-cont {
        margin: 20px 0px;
    }
    .about-comment {
        background-color: #f6f8fa;
        display: flex;
        align-items: center;
        & > * {
            padding: 0px 5px;
        }
        .like-btn {
            margin: 0;
        }
    }
}
/* ipad */
@media screen and (max-width: 850px) {
    #home-cont > * {
        width: 100%;
        margin: auto;
    }
    #home-cont {
        flex-direction: column;
        .description { width: 100%}
    }
    #flex-fields {
        flex-wrap: wrap;
        justify-content: center;
    }
    #flex-field-1 input {
        width: 228px;
    }
    #contact-section {
        flex-direction: column;
    }
    #contact, #share {
        text-align: center;
        width: 100%;
    }
    .preview-div {
        text-align: center;
    }
    .intro form {
        text-align:center;
    }
}

/* mobile */
@media screen and (max-width: 550px) {

    .features {
        width: 100%;
        figure {
            flex-direction: column; 
            padding: 30px 0px;
            width: 100%;
            margin: auto;
            img { width: 250px; margin: auto }
            figcaption {
                width: 100%;
            }
        }
    }
    .user-cont {
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;

        .posts {
            margin: auto;
            justify-items: center;
        }
    }
    .hidden {
        display: block;
        text-align: center;
    }
    nav { margin: 0px; }
    #new_user_zero {
        text-align: center;
        padding: 40px 0px;
    }
    .comments {
        width: 100%;
    }

    .preview {
        width: 95%;
        margin: auto;
    }
}

.avatar {
    width: 100px;
    height: 100px;
}