<%= provide(:title, "Home") %>
<div class="home">
    <div class="about-user">
        <% if true %>
            <h2>Welcome to Devolio</h2>
            <p>A social community for coders</p>
            <p>I want to create a new community centered around quality human interaction and collaboration on the subjects of tech and programming.</p>
            <p>If you have any feedback, please chat with me <a href="/discuss">here</a>. I'm still very much in the process of building out this website and making it awesome, so check out <a href="/discuss">the features I'm planning on adding soon</a> if you're curious.</p>
            <p>Enjoy!</p>
        <% end %>
        
    </div>
    <div class="feed">
        <div class="posts">
            <% for post in @content %>
                <%= render post %>
            <% end %>
        </div>
        <%= paginate @content %>
    </div>
</div>