<%= provide(:title, "Search") %>

<div class="ais-InstantSearch">
    <div class="right-panel">
        <div id="searchbox"></div>
        <div style="display: none;" id="hits"></div>
       <!-- <div id="pagination"></div> -->
    </div>
</div>

<%= javascript_pack_tag "search" %>