<div class="mails">
    <h1>Hi!</h1>
    <p>
My name is Uzay - a web developer trying to build a useful and personal community for other coders.
I'd like to thank you so much for subscribing to <a href="https://devol.io">Devolio</a></p>

<p>But enough about me, I'd love to learn more about you and what you think of Devolio.
What projects are you working on? and what are you interested in?</p>

You can talk with us or give us your feedback <a href="https://devol.io/discuss">here</a>.
Thank you for helping us build a welcoming platform for developers.
</div>
