<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        font-family: "Arial", sans-serif;
        color: #413c69;
      }
      body {
        width: 70%;
        margin: auto;
      }
      a {
        text-decoration: none;
        color: #7e0cf5
      }
      p {
        font-family: "Tahoma", sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
